@charset "utf-8";
/* CSS Document */

body{}

.link{
	padding: 15px 30px;
	margin: 10px;
	display: inline-block;
	color: #000;
	background: #ffce54;
}

.link:hover{
	text-decoration: none;
	color: #000;
}